-if (error)
  div#name_alert.alert.alert-error.alert-block
    button.close(data-dismiss="alert") x
    p #{error}
- else
  fadsf
form.well.form-inline(method="post", action="/admin/addUser")
  input(type="text", placeholder="Name", name="name")
  input(type="submit", value="Create infidel").btn
table.table.table-striped.table-bordered(style="text-align:middle")
  tr
    th Name
    th.span2 Handicap
    th Actions
  -each val, key in users
    tr
      td #{val.name}
      td 
        div.input-append
          input(type="text", value="#{val.handicap}", data-id="#{val._id}").span1.handicap
          span.add-on /10
      td.span1
        form.form-inline(method="post", action="/admin/removeUser")
          input(type="submit",value="Set free", data-id="#{val._id}").btn.btn-mini.btn-danger
          input(type="hidden",value="#{val._id}", name="id")