div.hero-unit
  -if (users[0])
    p Next up is...
    h1 #{users[0].name}
    input.relieve(type="button",value="Relieve", data-id="#{users[0]._id}", data-times="#{users[0].totalTimesBought}").btn.btn-large.btn-primary
  -else
    h1 No users

p Want to tell the future?
table.table.table-striped.table-bordered(style="text-align:middle")
  tr
    th Name
    th Last bought on
    th Times bought
    th Normalised Times Bought
    th Something
    th Actions
  -if (users[0])
    -each val, key in users
      tr
        td.span2 #{val.name}
        td.span2 #{val.date.toDateString() }
        td.span2 #{val.timesBought }
        td.span2 #{val.totalTimesBought }
        td
          div.progress
            div.bar(style="width:#{val.totalTimesBought}%")
        td.span1
          input.relieve(type="button",value="Relieve", data-id="#{val._id}", data-times="#{val.timesBought}").btn.btn-mini.btn-primary
  -else
    tr
      td(colspan="5", style="text-align:center;") No Users
